﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SADS - Stories</title>
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/superfish.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<header id="fh5co-header-section">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.html">SADS</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li >
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="ausstiegshelfer.html" class="fh5co-sub-ddown">Ausstiegshelfer</a>
                    </li>
                    <li class="active">
                        <a href="Story.html" class="fh5co-sub-ddown">Stories</a>
                    </li>
                    <li>
                        <a href="function.html">Architektur</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="content_story" id="MainContent">
    <div class="fh5co-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 fh5co-news">
                    <h3 class="headline">Stories</h3>
                    <ul>
                        <li v-for="story in stories">
                            <a v-on:click="vueOpenStory(story.ID)">
                                <span class="fh5co-date">{{ story.Date }}</span>
                                <h3>{{ story.Name }}</h3>
                                <p>{{ story.Header }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 fh5co-testimonial">
                    <img v-bind:src="activeStory.IMg" alt="StoryTitlePicture" class="img-responsive mb20">
                    <div class="story-headline">
                        <h3 class="headline">{{ activeStory.Name }}</h3>
                        <h3>{{ activeStory.Header }}</h3>
                        <p>{{ activeStory.Date }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p>
                <div v-html="activeStory.Text"></div>
            </p>
        </div>
    </div>
</div>
		
<footer>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="https://twitter.com/hashtag/zeugenjehovas?lang=de"><i class="icon-twitter2"></i></a>
                        <a href="https://de-de.facebook.com/churchofscientology/"><i class="icon-facebook2"></i></a>
                        <a href="https://www.instagram.com/pastibennt/"><i class="icon-instagram"></i></a>
                        <a href="https://dribbble.com/ueno"><i class="icon-dribbble2"></i></a>
                        <a href="https://www.youtube.com/watch?v=VmUGe8KDdGI"><i class="icon-youtube"></i></a>
                    </p>
                    <p>Copyright 2018 <a href="#">Listing</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="function.html#Team">SADS</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Superfish -->
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.js"></script>
<!-- Vue.js -->
<script src="js/vue.js"></script>
<!-- Story -->
<script src="js/Story/StoryFunctions.js"></script>
<script src="js/Story/StoryViewState.js"></script>
<script src="js/Story/StoryVue.js"></script>

<!-- Main JS -->
<script src="js/main.js"></script>
        
<script>
    InitVue();
</script>
</body>
</html>